{% extends 'base.html.twig' %}

{% block body %}
 <h1> Edition categorie</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">  Enrgistrer </button>

        <a href=" {{ path('app_admin_category_index') }} " class="btn btn-outline-secondary"> Retour</a>

    </div>


    {{ form_end(form) }}

{% endblock %}

