<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony blog{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet"  href=" {{ asset('lib/bootstrap/bootstrap.min.css') }} ">
            <link rel="stylesheet"  href=" https://bootswatch.com/4/united/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container navbar-nav">
            <a href=" {{ path('app_admin_category_index') }} " class="navbar-brand">
                Admin

            </a>
            <div class="navbar-collapse">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href=" {{ path('app_admin_category_index') }} " class="nav-link">
                            Gestion catégories
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </nav>


    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container navbar-nav">
            <a href=" {{ path('app_index_index') }} " class="navbar-brand">
                Blog

            </a>

            {{ render(controller('App\\Controller\\CategoryController::menu')) }}
        </div>
    </nav>

<div class="container">
    {#affichage des messages flash:
    boucle en clé => valeur sur les messages flash stockés dans la session (stockés par type de message)
    foreach($allMessages as $type => $messages)
    #}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {#pour la classe alert-danger du bootstrap#}
            {% if type == 'error' %}
                {% set type = 'danger'  %}
            {% endif %}
            <div class="alert alert-{{ type }} mt-2">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}

        {% block body %}{% endblock %}
</div>
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>

            <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
